*{
    font-family: "Montserrat", sans-serif;
}
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
}

.active {
  color: green;
}

a:hover {
  text-decoration: none;
}

.mymodal {
  background-color: rgba(0, 0, 0, .2);
  display: none;
}


/* This is Azamat Pulatov styles */
@media (max-width: 487px) {
  .mainConten {
    width: 88%;
  }
}

@media (min-width: 488px) and (max-width: 768px) {
  .mainConten {
    width: 90%;
  }
}

/* Green active nav item */
.rs-nav-item.rs-nav-item-active {
  color: #16a34a !important;
}

/* Green icon in active item */
.rs-nav-item.rs-nav-item-active .rs-nav-item-icon {
  color: #16a34a !important;
}

/* Optional: green background for active item */
.rs-nav-item.rs-nav-item-active {
  background-color: #e6f4ea !important;
  /* optional */
}





/* End */


@layer utilities {
  .shadow-main {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
}


/* 




/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(180deg);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: 30px 0;
  border-radius: 100px;
  background: #ff00ff;
  animation: l4 2s infinite linear;
}
.loader:after {
  --s:-1;
}
@keyframes l4{
  100% {transform: rotate(calc(var(--s,1)*1turn))}
}