@import "tailwindcss";

.active {
    color: green;
}

a:hover {
    text-decoration: none;
}

.mymodal {
    background-color: rgba(0, 0, 0, .2);
    display: none;
}


/* This is Azamat Pulatov styles */
@media (max-width: 487px) {
    .mainConten {
        width: 88%;
    }
}

@media (min-width: 488px) and (max-width: 768px) {
    .mainConten {
        width: 90%;
    }
}

/* Green active nav item */
.rs-nav-item.rs-nav-item-active {
    color: #16a34a !important;
  }
  
  /* Green icon in active item */
  .rs-nav-item.rs-nav-item-active .rs-nav-item-icon {
    color: #16a34a !important;
  }
  
  /* Optional: green background for active item */
  .rs-nav-item.rs-nav-item-active {
    background-color: #e6f4ea !important; /* optional */
  }
  
  
  


/* End */